<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= `${title} - ${locals.user} - HDC Instagram!`
    link(rel="stylesheet" href="/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet")
  body
    header
      div.inner
        div.header__logo Instagram
        div.header__search
          form(action="/search" method="GET")
            input(type="text" name="q" placeholder="e.g. People")
        div
          a(href="#").button.button--blue Get the App
          a(href="#").button Login
    
    .profile
      .inner
        .profile__image
          img(src="https://unsplash.it/200?image=79", alt="My Profile Image")
        .profile__info
          h2 Username
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quam voluptates quis, mollitia sequi in? Necessitatibus, magni? Sed dolore voluptates quis ullam reiciendis ab modi!
          a(href="#").link https://www.twitter.com
          ul.profile__meta
            li 100 Posts
            li 789 Followers
            li 50 Following

    block content
      h2 Content goes here...
    
    block scripts
      <script src="/scripts.js"></script>
    