extends _layout

block content
  if searchTerm
    h2= `Search Results for ${searchTerm}`
  .images
    .inner
      each image in images
        a(href=`image/${image.id}`).image
          img(src=`https://unsplash.it/320/?image=${image.id}`, alt=`${image.author}`)
          span.image__cover View Image
